*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0px;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
}

.card-image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}

.image-content, .card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#00a7e4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#00a7e4;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding: 10px 0;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #00a7e4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.swiper-navBtn{
    color: #00a7e4;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #0056b3;
}

.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

.swiper-pagination-bullet-active{
    background-color: #00a7e4;;
}

@media screen and (max-width: 768px){
    .swiper-navBtn{
        display: none;
    }
    .slide-content{
        margin: 0 10px;
    }
}